@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html,
body,
div,
span,
p,
h1,
h2,
h3,
img,
ul,
li,
main,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
* {
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: url("../assets/bg-pattern-top-mobile.svg"), url("../assets/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  padding: 4rem 1rem;
}
.prod-statement {
  text-align: center;
}
.prod-statement__head {
  color: #502050;
  font-size: 1.9rem;
  font-weight: 900;
}
.prod-statement__txt {
  margin-top: 1rem;
  color: #937b92;
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: 500;
}
.prod-rate {
  margin-top: 1rem;
}
.prod-rate ul li {
  background: #f7f2f7;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}
.prod-rate ul li .star__img img {
  width: 0.8rem;
  margin-left: 0.4rem;
}
.prod-rate ul li .star__txt {
  font-size: 0.6rem;
  color: #502050;
  font-weight: 900;
  margin-top: 0.3rem;
}
.reviews {
  margin-top: 2rem;
}
.card {
  background: #502050;
  padding: 1.5rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}
.card-top {
  display: flex;
}
.card-top__img img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}
.card-top__txt {
  font-size: 0.7rem;
  align-self: center;
  margin-left: 1rem;
}
.card-top__txt h2 {
  color: #fff;
  margin-bottom: 0.2rem;
}
.card-top__txt h3 {
  color: #ee68a4;
  font-weight: 500;
}
.card p {
  margin-top: 1rem;
  font-size: 0.7rem;
  color: #fff;
  line-height: 1.4;
}
footer {
  display: none;
}
@media screen and (min-width: 24.933em) {
  .prod-statement__head {
    font-size: 2.3rem;
  }
  .prod-statement__txt {
    margin-top: 1rem;
    font-size: 1.02rem;
    line-height: 1.5;
  }
  .prod-rate {
    margin-top: 1rem;
  }
  .prod-rate ul li {
    padding: 1.03rem;
  }
  .prod-rate ul li .star__img img {
    width: 0.97rem;
    margin-left: 0.5rem;
  }
  .prod-rate ul li .star__txt {
    font-size: 0.8rem;
  }
  .card {
    padding: 2rem;
    margin-bottom: 1rem;
  }
  .card-top__img img {
    width: 2.3rem;
    height: 2.3rem;
  }
  .card-top__txt {
    font-size: 0.8rem;
    margin-left: 1.3rem;
  }
  .card p {
    margin-top: 1rem;
    font-size: 0.91rem;
    color: #fff;
    line-height: 1.7;
  }
}
@media screen and (min-width: 39.6em) {
  body {
    background: url("../assets/bg-pattern-top-desktop.svg"), url("../assets/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }
  main {
    max-width: 37.7333em;
  }
  .prod-statement__head {
    font-size: 2.3rem;
  }
  .prod-statement__txt {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  .card p {
    margin-top: 1rem;
    font-size: 0.89rem;
    color: #fff;
    line-height: 1.4;
  }
}
@media screen and (min-width: 66.666em) {
  body {
    padding: 2rem;
    flex-direction: column;
  }
  main {
    max-width: 73.333em;
  }
  .prod {
    display: flex;
  }
  .prod-statement {
    text-align: left;
    width: 30em;
  }
  .prod-statement__head {
    font-size: 2.7rem;
  }
  .prod-statement__txt {
    font-size: 0.93rem;
  }
  .prod-rate {
    margin-left: auto;
  }
  .prod-rate ul li {
    flex-direction: row;
    padding: 1.3rem 3.6rem 1.3rem 2rem;
  }
  .prod-rate ul li:nth-child(1) {
    transform: translateX(-4.5rem);
  }
  .prod-rate ul li:nth-child(2) {
    transform: translateX(-3rem);
  }
  .prod-rate ul li .star__txt {
    margin: 0 0 0 1.5rem;
    align-self: center;
  }
  .reviews {
    margin-top: 4rem;
    display: flex;
    gap: 1.4rem;
  }
  .reviews .card:nth-child(2) {
    transform: translateY(1.3rem);
  }
  .reviews .card:nth-child(3) {
    transform: translateY(2.5rem);
  }
  footer {
    display: block;
    margin-top: 3rem;
    font-size: 0.89rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 75.73333em) {
  .prod-statement__head {
    font-size: 3.2rem;
    line-height: 1;
  }
  .prod-statement__txt {
    font-size: 0.93rem;
    line-height: 1.7;
  }
  .prod-rate ul li {
    padding: 1.3rem 3.6rem 1.3rem 2rem;
  }
  .prod-rate ul li:nth-child(1) {
    transform: translateX(-7rem);
  }
  .prod-rate ul li:nth-child(2) {
    transform: translateX(-3.3rem);
  }
  .prod-rate ul li .star__img img {
    width: 1.2rem;
  }
  .prod-rate ul li .star__txt {
    font-size: 0.9rem;
  }
  .card {
    padding: 2rem;
    margin-bottom: 1rem;
  }
  .card-top__img img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .card-top__txt {
    font-size: 0.9rem;
    margin-left: 1.3rem;
  }
  .card p {
    margin-top: 1rem;
    font-size: 0.91rem;
    color: #fff;
    line-height: 1.7;
  }
}
