@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

//variables
$veri-cl = hsl(333, 80%, 67%)
$big-head-cl = hsl(300, 43%, 22%)
$card-bg-cl = hsl(300, 43%, 22%)
$rate-txt-cl = hsl(300, 43%, 22%)
$star-bg-cl = hsl(300, 24%, 96%)
$cl-white = hsl(0, 0%, 100%)
$prd-txt-cl = hsl(303, 10%, 53%)

html,body
    height 100%

html,body,div,span,p,h1,h2,h3,img,ul,li
    margin 0
    padding 0
    list-style none

*
    font-size 100%
    box-sizing border-box
    font-family 'Spartan', sans-serif

    &::before,&::after
        box-sizing border-box

body
    display flex
    flex-direction column
    justify-content center
    align-items center
    background rgb(34, 34, 34)

.main-container
    background url('../assets/bg-pattern-top-desktop.svg'),url('../assets/bg-pattern-bottom-desktop.svg') $cl-white
    background-repeat no-repeat, no-repeat
    background-position top left, bottom right
    max-width 95.86rem

main
    margin 9rem 11rem


.prod
    display flex
    &-state
        width 50%
        &__head
            width 11ch
            color $big-head-cl
            font-size 3.1rem
            line-height 1

        &__txt
            color $prd-txt-cl
            font-size 1rem
            font-weight 500
            line-height 1.7
            width 90%
            margin-top 1rem

    &-rate
        width 50%
        // margin-top 1rem
        
    .rate
        display flex
        flex-direction column

        li
            background $star-bg-cl
            padding 1.4rem
            margin-top 1rem
            width 80%

            &:nth-child(2)
                align-self center

            &:nth-child(3)
                align-self flex-end

        &__img img
            margin-left .5rem

        &__txt
            margin-left 1.3rem
            color $rate-txt-cl
            font-weight 900


        

.reviews-container
    display flex
    margin-top 4rem
    gap 2rem


.card
    background $card-bg-cl
    border-radius .5rem
    padding 2rem
    &__top
        display flex

        div img
            width 2.5rem
            height @width
            border-radius 50%

        div:nth-child(2)
            align-self center
            font-size .9rem
            margin-left 1rem

            h2
                color $cl-white
                margin-bottom .3rem

            h3
                color $veri-cl
                font-weight 400
    
    p
        color $cl-white
        margin-top 1.2rem
        font-size .9rem
        line-height 1.7

    // &:nth-child(2)
    //     transform translateY(1.3rem)

    // &:nth-child(3)
    //     transform translateY(2rem)
