@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

//variables
$veri-cl = hsl(333, 80%, 67%)
$big-head-cl = hsl(300, 43%, 22%)
$card-bg-cl = hsl(300, 43%, 22%)
$rate-txt-cl = hsl(300, 43%, 22%)
$star-bg-cl = hsl(300, 24%, 96%)
$cl-white = hsl(0, 0%, 100%)
$prd-txt-cl = hsl(303, 10%, 53%)

html,body
    height 100%

html,body,div,span,p,h1,h2,h3,img,ul,li
    margin 0
    padding 0
    list-style none

*
    font-size 100%
    box-sizing border-box
    font-family 'Spartan', sans-serif

    &::before,&::after
        box-sizing border-box
        
.main-container
    background url('../assets/bg-pattern-top-mobile.svg'),url('../assets/bg-pattern-bottom-mobile.svg') $cl-white
    background-repeat no-repeat, no-repeat
    background-position top left, bottom right
    // background-size 100%, 100%
    padding 4rem 1rem

/*for >= 270px viewport*/
.prod
    &-state
        text-align center
        &__head
            color $big-head-cl
            font-size 1.5rem
            
        &__txt
            color $prd-txt-cl
            font-size .7rem
            font-weight 500
            line-height 1.7
            margin-top 1rem

.rate
    margin-top 1.4rem
    li
        display flex
        flex-direction column
        text-align center
        background-color $star-bg-cl
        margin-bottom .8rem
        padding .7rem

    &__img img
        width .89rem
        margin-left .5rem

    &__txt
        font-size .7rem
        color $rate-txt-cl
        font-weight 700
        margin-top .4rem

.reviews-container
    margin-top 2rem
    
.card
    background-color $card-bg-cl
    padding 1.2rem
    margin-top 1rem
    border-radius .5rem

    &__top
        display flex

        div img
            width 2.3rem
            height @width
            border-radius 50%

        div:nth-child(2)
            font-size .7rem
            margin-left 1.4rem
            align-self center
            h2
                color $cl-white
                margin-bottom .3rem
            h3
                color $veri-cl
                font-weight 500
    
    p
        font-size .79rem
        color $cl-white
        line-height 1.5
        margin-top 1.4rem

footer 
    display none


/*for >= 375px viewport styles*/
@media screen and (min-width: 25em)
    .main-container
        padding 2rem 1.5rem

    .prod
        &-state
            &__head
                font-size 2.2rem
                padding 2rem 2rem 0

            &__txt
                font-size .94rem
                line-height 1.9


    .rate
        &__img img
            width 1.2rem

        &__txt
            font-size .9rem

    .card
        padding 2rem
        &__top
            div img
                width 3rem
                height @width

            div:nth-child(2)
                font-size .9rem

        p
            font-size .89rem
            line-height 1.7
