doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="cerebro cerberus")
        meta(name="description", content="This is a solution to social proof section master challenge from frontend mentor")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", href="assets/favicon-32x32.png", type="image/x-icon")
        title Frontendmentor | social-proof-section-master
    body 
        main 
            section.prod 
                .prod-statement 
                    h1.prod-statement__head 10,000+ of our users love our products. 
                    p.prod-statement__txt We only provide great products combined with excellent customer service. See what our satisfied customer are saying about our services
                .prod-rate 
                    ul 
                        li <span class="star__img"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"></span><span class="star__txt">Rated 5 Stars in Reviews</span>
                        li <span class="star__img"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"></span><span class="star__txt">Rated 5 Stars in Report Guru</span>
                        li <span class="star__img"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"></span><span class="star__txt">Rated 5 Stars in BestTech</span>
            section.bottom
                .reviews 
                    .card
                        .card-top 
                            .card-top__img 
                                <img src="assets/image-colton.jpg" alt="Colton Smith">
                            .card-top__txt 
                                h2 Colton Smith 
                                h3 Verified Buyer
                        p.card-bot "We needed the same printed design as the one we had ordered a week prior. Not only did they find the original order, but we also received it in time. Excellent!"
                    .card
                        .card-top 
                            .card-top__img 
                                <img src="assets/image-irene.jpg" alt="Irene Roberts">
                            .card-top__txt 
                                h2 Irene Roberts 
                                h3 Verified Buyer
                        p.card-bot "Customer service is always excellent and very quick turn around. Completely delighted with the simplicity of the purchase and the speed of delivery."
                    .card
                        .card-top 
                            .card-top__img 
                                <img src="assets/image-anne.jpg" alt="Anne Wallace">
                            .card-top__txt 
                                h2 Anne Wallace 
                                h3 Verified Buyer
                        p.card-bot "Put an order with this company and can only praise them for the very high standard. Will definitely use them again and recommend them to everyone!"
        footer 
            p challenge by <a href="https://www.frontendmentor.io/challenges/social-proof-section-6e0qTv_bA" target="_blank">frontendmentor</a>. coded by <a href="https://github.com/iamcerebrocerberus/" target="_blank">cerebro_cerberus</a>


