doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="cerebro cerberus")
        meta(name="description", content="This is a solution to social proof section master challenge from frontend mentor")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", href="assets/favicon-32x32.png", type="image/x-icon")
        title Frontendmentor | social-proof-section-master
    body 
        .main-container 
            main 
                div.prod 
                    .prod-state 
                        h1.prod-state__head 10,000+ of our users love our products.
                        p.prod-state__txt We only provide great products combined with excellent customers service. See what our satisfied customers are saying about our services 
                    .prod-rate 
                        ul.rate
                            li <span class="rate__img"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"></span><span class="rate__txt">Rated 5 Stars in Review</span>
                            li <span class="rate__img"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"></span><span class="rate__txt">Rated 5 Stars in Report Guru</span>
                            li <span class="rate__img"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"><img src="assets/icon-star.svg" alt="star"></span><span class="rate__txt">Rated 5 Stars in BestTech</span>
                .reviews-container 
                    .card
                        div.card__top
                            div 
                                img(src="assets/image-colton.jpg" alt="Colton Smith")
                            div 
                                h2 Colton Smith 
                                h3 Verified Buyer
                        p "We needed the same printed design as the one we had ordered a week prior. Not only did they find the original order, but we also received it in time. Excellent!"
                    .card
                        div.card__top
                            div 
                                img(src="assets/image-irene.jpg" alt="Irene Roberts")
                            div 
                                h2 Irene Roberts 
                                h3 Verified Buyer
                        p "Customer service is always excellent and very quick turn around. Completely delighted with the simplicity of the purchase and the speed of delivery."
                    .card
                        div.card__top
                            div 
                                img(src="assets/image-anne.jpg" alt="Anne Wallace")
                            div 
                                h2 Anne Wallace
                                h3 Verified Buyer
                        p "Put an order with this company and can only praise them for the very high standard. Will definitely use them again and recommend them to everyone!"
        footer
            p Challeng by <a>frontendmentor</a>. Coded by <a>cerebro_cerberus</a>.
